@import './reset.css';

:root {
    --app-gray-dark: 40 40 40;
    --app-gray-light: 140 140 140;
    --app-yellow: 219 201 112;
    --app-green: 130 219 112;
    --app-red: 219 112 130;
    --app-white: 248 250 253;
    --app-magenta: 201 112 219;
    --app-cyan: 112 219 201;

    --app-header-height: 100px;
    --app-footer-height: 150px;
   }

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}
   
/*
  General Layout
*/

header, main {
  background-color: rgb(var(--app-white));
}

header {
  height: var(--app-header-height);
  text-align: center;
  line-height: var(--app-header-height);
  border-bottom: 0.1px solid rgb(var(--app-gray-dark));
}

button, input[type="button"] {
  font-size: 16px;
  background-color: rgb(var(--app-magenta));
  border: 1px solid rgb(var(--app-magenta));
  border-radius: 40px;
  padding: 10px;
}

button:hover, input[type="button"]:hover {
background-color: rgb(var(--app-magenta) / 0.5);
}

button.close {
  border: 1px solid rgb(var(--app-cyan));
  background-color: rgb(var(--app-cyan));
}

button.close:hover {
  background-color: rgb(var(--app-cyan) / 0.5);
}





/*
  Game 
*/

.game {
  --app-form-height: 20vh;

  padding: 20px 0;
  display: grid;
  grid-template-columns: minmax(auto, 1fr);
  grid-template-rows: 6fr 1fr;
  height: calc(100vh - var(--app-header-height));
  justify-items: center;  
  text-align: center;
}

.row {
  display: flex;
  gap: 10px;
}

i.red {
  color: rgb(var(--app-red));
}

i.yellow {
  color: rgb(var(--app-yellow));
}

i.green {
  color: rgb(var(--app-green));
}

.history {
  display: grid;
  place-items: center;
}

.guess-history p {
  font-size: 20px;
}



form p {
  margin: 20px 0;
}

form input {
  height: 40px;
}

form input[type="text"] {
  background-color: rgb(var(--app-cyan) / 0.5);
  border: 1px solid rgb(var(--app-cyan));
  border-radius: 40px;
  text-align: center;
  font-size: 16px;
}

form input[type="text"]:focus {
  background-color: rgb(var(--app-cyan));
}

form input + input {
  margin: 0 0 20px 10px;
}


/*
  Reset Overlay
*/

.play-again {
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;

  display: grid;
  place-items: center;
  position: fixed;
  visibility: none;
  opacity: 0;
  z-index: -2222;
  background-color: rgb(0 0 0 / 0.2);
}

div.active {
  visibility: visible;
  opacity: 1;
  z-index: 2222;
}

.confirm-box {
  height: 150px;
  width: 300px;
  background-color: rgb(var(--app-gray-light));
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  gap: 20px;
}

.reset {
  position: fixed;
  top: 29px;
  right: 20px;
}

