@import './reset.css';

:root {
    --app-gray-dark: 40 40 40;
    --app-gray-light: 140 140 140;
    --app-yellow: 204 204 0;
    --app-green: 0 139 0;
    --app-white: 248 250 253;

    --app-header-height: 100px;
    --app-footer-height: 150px;
   }

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}
   
header, main {
  background-color: rgb(var(--app-white));
}

header {
  height: var(--app-header-height);
  text-align: center;
  line-height: var(--app-header-height);
  border-bottom: 0.1px solid rgb(var(--app-gray-dark));
}


.game {
  display: grid;
  height: calc(100vh - var(--app-header-height));
  place-items: center;
}

.row {
  display: flex;
  gap: 10px;
}

.input-box {
  --app-box-side: 75px;
  height: var(--app-box-side);
  width: var(--app-box-side);
  border: 1px solid black;
}


.hidden {
  display: none;
}


.play-again {
  position: fixed;
  display: none;
}